<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <div class="trigger">
        <a class="page-link" href="/about">About</a>
        <a class="page-link" href="/booklet-contents">Booklet Contents</a>
        <a class="page-link" href="/sample-chapter">Sample Chapter</a>
        <a class="page-link" href="/price-guide">Price Guide</a>
        <a class="page-link" href="/order-form">Order Form</a>
        <a class="page-link" href="/contact">Contact</a>
      </div>
    </nav>

  </div>

</header>
