@font-face {
    font-family: 'Villa';
    src:url('../fonts/Villa.ttf.woff') format('woff'),
        url('../fontsVilla.ttf.svg#Villa') format('svg'),
        url('../fonts/Villa.ttf.eot'),
        url('../fonts/Villa.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'BrookeShappell10';
    src:url('../fonts/BrookeShappell10.ttf.woff') format('woff'),
        url('../fonts/BrookeShappell10.ttf.svg#BrookeShappell10') format('svg'),
        url('../fonts/BrookeShappell10.ttf.eot'),
        url('../fonts/BrookeShappell10.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
